.about-wrapper{
    display: grid;
    grid-template-columns: repeat(auto-fit , minmax(500px, 1fr));
    row-gap: 40px;
}

@media (max-width:586px){
    .about-wrapper{
        grid-template-columns: repeat(auto-fit , minmax(300px, 1fr));
    }
}